@{
  ViewBag.Title = "Contact Us";
}
<form method="POST">
  <label>Your Name:</label>
  <br />
  <input type="text" name="name" value="" />
  <br />
  <label>Email:</label>
  <br />
  <input type="email" value="" name="email"/>
  <br />
  <label>Subject:</label>
  <br />
  <input type="text" value="" name="subject"/>
  <br />
  <label>Message:</label>
  <br />
  <textarea rows="4" name="message"></textarea>
  <br />
  <input type="submit" value="Send message" class="btn btn-success"/>
</form>